
[Unit]
Description=OpenPorter SSH Server
After=network.target

[Service]
ExecStart=/usr/sbin/sshd -D -o Include=/opt/tunnel/etc/sshd.conf.d/tunnel.conf
Restart=always

[Install]
WantedBy=multi-user.target
